body {
  margin: 0;
  background-color: black;
  background-image: url(image1.jpg);
  background-size: 175px;
  background-repeat: no-repeat;
  font-family: "Roboto";
}

main {
  margin-top: 250px;
  margin-left: 20px;
  margin-right: 20px;
  border: 2px solid blue;
}

h1 {
  border: 5px solid yellow;
  color: red;
}

figure {
  margin: 10px 10px;
  border: 2px dashed pink;
}

#image {
  max-width: 100%;
  display: block;
  height: auto;
  margin: 0 auto;
}

figcaption {
  text-align: center;
  color: red;
}
