body {
  margin: 0;
  background-color: black;
  background-size: 175px;
  background-repeat: no-repeat;
  font-family: "Roboto";
}

header {
  border: 2px dashed red;
}

main {
  margin-top: 250px;
  margin-left: 20px;
  margin-right: 20px;
  border: 2px solid blue;
}

h1 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 2.5rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 15px;
  color: whitesmoke;
}

figure {
  margin: 10px 10px;
}

#image {
  max-width: 100%;
  display: block;
  height: auto;
  margin: 0 auto;
}

figcaption {
  margin-top: 10px;
  text-align: center;
  text-transform: capitalize;
  color: red;
}
